.header {
  display: flex;
  flex-basis: 11%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $soft-white;

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;

    a {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      font-weight: $regular;
      color: $black;
    }

    h1 {
      padding: 45px 1.5vw 30px;
      
      .home-btn {
        color: rgba($color: $black, $alpha: 0.5);
      }

    }

    .menu {
      display: flex;
      flex: 1;
      flex-direction: column;

      p {
        padding: 3px 1.5vw;
      }

    }

  }

}