.postsDisplay {
  width: 100%;
  display: flex;

  .preview-post {
    width: 25%;
    margin: 20px 10px 10px;
    
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 10px 20px;
      border: solid 1px $black;
  
  
      h1, p {
        font-family: 'Roboto', sans-serif;
        color: $black;
      }
  
      h1 {
        padding: 10px 0;
        font-size: 20px;
        font-weight: $bold;
      }
  
      p {
        padding-bottom: 10px;
        font-size: 15px;
      }
  
      img {
        width: 100%;
      }

    }
  
  }
  
}