.postsDisplay {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .preview-post {
    width: 30%;
    max-height: 30%;
    margin: 20px 10px 10px;
    
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: solid 1px $light-gray;

      .text {
        padding: 10px 15px;
      }

      .image {
        max-height: 70%;
        border-bottom: solid 1px $light-gray;
        overflow: hidden;
      }
  
      
      h1, p {
        font-family: 'Roboto', sans-serif;
        color: $black;
      }
  
      h1 {
        padding: 10px 0;
        font-size: 20px;
        font-weight: $bold;
      }
  
      p {
        padding-bottom: 10px;
        font-size: 15px;
      }
  
      img {
        width: 100%;
      }

    }
  
  }
  
}